@font-face {
  font-family: "Rounded Mplus 1c";
  src: local("Rounded Mplus 1c Medium"), local("RoundedMplus1c-Medium"),
    url("/assets/fonts/RoundedMPlus-Latin/RoundedMplus1c-Medium.woff2")
      format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: local("Rounded Mplus 1c ExtraBold"), local("RoundedMplus1c-ExtraBold"),
    url("/assets/fonts/RoundedMPlus-Latin/RoundedMplus1c-ExtraBold.woff2")
      format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: local("Rounded Mplus 1c Thin"), local("RoundedMplus1c-Thin"),
    url("/assets/fonts/RoundedMPlus-Latin/RoundedMplus1c-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: local("Rounded Mplus 1c Black"), local("RoundedMplus1c-Black"),
    url("/assets/fonts/RoundedMPlus-Latin/RoundedMplus1c-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: local("Rounded Mplus 1c Light"), local("RoundedMplus1c-Light"),
    url("/assets/fonts/RoundedMPlus-Latin/RoundedMplus1c-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: local("Rounded Mplus 1c"), local("RoundedMplus1c-Regular"),
    url("/assets/fonts/RoundedMPlus-Latin/RoundedMplus1c-Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Rounded Mplus 1c";
  src: local("Rounded Mplus 1c Bold"), local("RoundedMplus1c-Bold"),
    url("/assets/fonts/RoundedMPlus-Latin/RoundedMplus1c-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Borel";
  src: local("Borel Regular"), local("Borel-Regular"),
    url("/assets/fonts/Borel-Regular/Borel-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

:root {
  --side-padding: 80px;
}

html,
body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

html {
  font-family: "Rounded Mplus 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(255, 162, 31, 0.3);
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100%;
}

body {
  padding: 50px 0;
}

*[loading="eager"] {
  background-color: rgba(73, 102, 66, 0.3);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  width: 100%;
  padding: 0 var(--side-padding);
  box-sizing: border-box;
}

.language-switch {
  position: fixed;
  top: 15px;
  right: 15px;
}

.language-switch-logo {
  height: 40px;
  aspect-ratio: 800/533;
  border-radius: 5px;
}

.header-description {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

p,
a {
  line-height: 28px;
}

p br {
  line-height: unset;
}

.main-logo {
  display: flex;
  width: 544.82px;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.main-logo .logo {
  width: 100%;
  aspect-ratio: 547 / 248;
}

.main-logo h1 {
  font-size: min(40px, 7vw);
  text-align: center;
  font-weight: 400;
}
.main-logo h1 span {
  line-height: 56px;
}

.header-buttons {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.button,
.main-button {
  appearance: none;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-weight: 900;
  gap: 10px;
  text-align: center;
  transition: box-shadow 0.2s, gap 0.2s, transform 0.2s;
}

.oranger.button,
.oranger.main-button {
  background-color: lch(50 79.52 68.4);
}

*:focus-visible {
  outline: 4px solid color-mix(in srgb, #ffa21f, #496642);
}

.main-button {
  flex-direction: column;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  border-radius: 25px;
  align-self: stretch;
  min-width: 200px;
}

.main-button .icon {
  height: 55px;
  aspect-ratio: 1;
}

.button:hover {
  gap: 20px;
}

.main-button:hover {
  transform: translate(5px, 5px);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.arrow-right,
.arrow-left {
  width: 1rem;
  vertical-align: middle;
  aspect-ratio: 25/21;
  height: 16px;
}

.button .icon {
  width: 30px;
}

.olivier {
  background-color: #496642;
}

.oranger {
  background-color: #ffa21f;
}

.language-flags {
  display: flex;
  gap: 20px;
}

.language-flags img {
  height: 40px;
  aspect-ratio: 4 / 3;
  border-radius: 5px;
}

.hero-image {
  width: 100%;
  height: min(40dvmin, 350px);
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section#olivier *::selection {
  background-color: rgba(73, 102, 66, 0.3);
}

.section .title {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.section .title h2 {
  font-family: "Borel";
  font-weight: 400;
  margin: 0;
  font-size: 40px;
  line-height: 1em;
  transform: translateY(50%);
}

.section .title img {
  width: 40px;
}

.section .title .line {
  flex-grow: 1;
  height: 4px;
  border-radius: 9999px;
}

.room-card {
  padding: 40px;
  box-sizing: border-box;
  background-color: #f1eee7;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.room-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.room-gallery .image-card {
  flex-basis: 50%;
  align-self: stretch;
}

.room-gallery img {
  border-radius: 20px;
  aspect-ratio: 959/640;
  width: 100%;
}

.olivier-highlight {
  background-color: rgba(73, 102, 66, 0.5);
}

.oranger-highlight {
  background-color: rgba(255, 162, 31, 0.5);
}

footer {
  padding: 0 var(--side-padding);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer .separator {
  width: 100%;
  height: 4px;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-contact .left {
  display: flex;
  gap: 10px;
}

.img-wrapper {
  flex: 1;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.footer-contact .left .links {
  flex: 1;
}

.footer-contact .left .links,
.footer-contact .right {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer-contact .right {
  text-align: right;
}

.footer-contact .right a {
  align-self: end;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.footer-info .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-info .top .left {
  font-size: 20px;
  font-weight: 500;
}

.footer-info .top .copyrights {
  text-align: right;
}

.footer-info .bottom {
  column-count: 2;
  column-gap: 20px;
  width: fit-content;
}

.footer-info .bottom a {
  display: block;
}

/* Réserver page */

.retourner {
  display: flex;
  align-items: start;
  width: 100%;
}

.page-indicator {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.page-indicator.secondary img {
  height: min(10vw, 65px);
}

.page-indicator.secondary .title {
  height: 50px;
  font-size: min(4.5vw, 30px);
  position: relative;
}

.page-indicator img {
  height: min(15vw, 100px);
  aspect-ratio: 547 / 248;
}

.page-indicator .separator {
  flex-grow: 1;
  height: 4px;
  border-radius: 9999px;
}

.page-indicator .title {
  font-family: "Borel";
  font-size: min(6vw, 40px);
  flex-grow: 0;
  flex-basis: max-content;
  font-weight: 400;
  line-height: 1;
  transform: translateY(50%);
}

.page-indicator .multiline {
  height: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.page-indicator .multiline span:not(:first-child) {
  margin-left: 59%;
}

.page-indicator .multiline span:first-child {
  margin-right: 3em;
}

#reserver #oranger .room-details {
  flex-direction: row-reverse;
}

.section {
  padding: 0 var(--side-padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contacts .addresse,
.contacts .telephones {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.room-details {
  display: flex;
  gap: 20px;
  width: 100%;
  min-height: 500px;
}

.room-details .room-card {
  flex: 1;
  justify-content: space-between;
  border-radius: 20px;
}

.room-details .room-card .inside-image {
  display: none;
  width: 100%;
  min-height: 15em;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.room-details .room-card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.room-details .room-card .infos {
  line-height: 2.5;
}

.room-details .room-card .content .title h2 {
  font-size: 24px;
}

.room-details .room-card .content .title img {
  width: 30px;
}

.room-details .image,
.formulaire .image {
  flex: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.room-details .image img,
.room-details .room-card .inside-image img,
.formulaire .image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.formulaire {
  display: flex;
  gap: var(--side-padding);
  min-height: 30em;
}

.formulaire .image {
  flex: 1;
}

.formulaire form {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.formulaire form .select,
.formulaire form button[type="submit"] {
  appearance: none;
  font-weight: 400;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-self: baseline;
  padding: 5px 20px;
}

fieldset {
  all: unset;
  display: flex;
  gap: 20px;
}

.radio-button {
  font-family: "Borel";
  display: flex;
  align-items: center;
}

.radio-button span {
  transform: translateY(18%);
  line-height: 1;
}

.radio-button input {
  appearance: none;
  cursor: pointer;
}

.radio-button input::after {
  display: block;
  border-radius: 2px;
  height: auto;
  aspect-ratio: 1;
}

.radio-button input:checked::after {
  content: url("/assets/icons/radio-checked.svg");
}

.radio-button input:not(:checked)::after {
  content: url("/assets/icons/radio-empty.svg");
}

.formulaire input[type="email"],
.formulaire textarea {
  appearance: none;
  background-color: #f1eee7;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 3px solid #000;
  font-size: 18px;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

/* Mentions légales page */

.mentions h2 {
  font-weight: 500;
  line-height: 36px;
}

/* Break-points */

@media (max-width: 1000px) {
  .room-gallery {
    grid-template-columns: 1fr;
  }

  .room-card {
    padding: 20px;
  }

  .page-indicator {
    flex-wrap: wrap;
  }

  .page-indicator .separator {
    width: 100%;
  }
}

@media (max-width: 800px) {
  :root {
    --side-padding: 20px;
  }

  .header-buttons {
    gap: 30px;
  }

  .main-button {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .room-details .image {
    display: none;
  }

  .room-details .room-card .inside-image {
    display: block;
  }
}

@media (max-width: 500px) {
  :root {
    --side-padding: 10px;
  }

  .header-buttons {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .room-card {
    padding: 15px;
  }

  .formulaire .image {
    display: none;
  }
}
