@font-face {
  font-family: "Borel";
  src: local("Borel Regular"), local("Borel-Regular"),
    url("Borel-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
